
body {
    font-family: 'Roboto', sans-serif;
}

.bootstrapFix {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.containerDiv {
    height: 100vh;
    overflow: scroll;
}

.header {
    /* padding: 20px 0px; */
    height: 75px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12)};

.headerRow {
    background: lightcoral;
}

#transitionBtns {
    position: absolute;
    top: -8.5%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchContainer {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gifSearch {
    padding: 5px 0px;
    border: none;
    border-radius: 4px;
}

#submit {
    width: 70px;
    padding: 5px 0px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    background: linear-gradient(45deg, #ffb01e 30%, #e79703 90%);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    cursor: pointer;
}

#submit:hover {
    background: linear-gradient(45deg, #e29d1c 30%, #c07e04 90%);
}

#giphy {
    padding: 7px 15px;
    margin: 0px 80px 0px 80px;
    color: white;
    background: linear-gradient(45deg, #6649e6 30%, #5034cf 90%);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    cursor: pointer;
}

#giphy:hover {
    background: linear-gradient(45deg, #785bf7 30%, #6341fc 90%);
}

#btnTarget {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#btnTarget button {
    border-radius: 4px;  
    color: white;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    cursor: pointer;
}

#clearBtn {
    width: 100%;
    padding: 7px 0px;
    margin: 10px 5px;
    background: linear-gradient(45deg, #f03e40 30%, #d12628 90%);
    border: none;
    font-weight: bold;
    transition: .5s ease;
}

#clearBtn:hover {
    background: linear-gradient(45deg, #d3373a 30%, #a71417 90%);
}

#userFav {
    width: 100%;
    padding: 7px 0px;
    margin: 10px 5px;
    background: linear-gradient(45deg, #ffb01e 30%, #e79703 90%);
    border: none;
    font-weight: bold;
}

#userFav:hover {
    background: linear-gradient(45deg, #e29d1c 30%, #c07e04 90%);
}

img {
    height: 150px;
    width: 200px;
}

.btnFrame {
    padding: 20px 0px;
    background: lightblue;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}

.btns {
    display: block;
    padding: 7px 0px;
    margin: 10px 5px;
    width: 100%;
    background: linear-gradient(45deg, #6649e6 30%, #5034cf 90%);
    border: none;
    font-weight: bold;
    text-transform: capitalize;
}

.btns:hover {
    background: linear-gradient(45deg, #785bf7 30%, #6341fc 90%);
}

/* Weather API!!! */

#weatherTarget {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    margin-right: 30px;
}

#weatherTarget h6 {
    margin: 10px 0px 0px 0px;
    text-transform: capitalize;
}

#weatherTarget img {
    margin: 0 auto;
}

#weatherD {
    font-weight: bold;
}

#weatherPng {
    height: 50px;
    width: 50px;
}

@media only screen and (max-width: 768px) {

    #transitionBtns {
        top: -12.5%;
        left: 9%;
    }

    .btns {
        display: inline;
        margin: 10px;
    }
    
    #clearBtn {
        margin: 10px;
    }
    
    #userFav {
        margin: 10px;
    }
}

@media only screen and (max-width: 630px) {

    #weatherTarget {
        display: none;
    }

    #submit {
        padding: 5px 10px;
    }

    #searchContainer {
        top: 50%;
        right: 0%;
        transform: translate(0%, -50%);
        margin-left: 10px;    
    }
}

@media only screen and (max-width: 540px) {

    #transitionBtns {
        top: -12.5%;
        left: 11%;
    }

    #searchContainer {
        top: 50%;
        right: 10%;
        transform: translate(0%, -50%);
        margin-left: 10px;    
    }
}

@media only screen and (max-width: 450px) {

    #transitionBtns {
        top: -12.5%;
        left: 15%;
    }

    #searchContainer {
        top: 50%;
        right: 25%;
        transform: translate(0%, -50%);
        margin-left: 10px;    
    }
}